.home 
{
  //@extend %page;
  @extend %cover;

  overflow: hidden;

  &__showcase 
  {
    @extend %cover;

    z-index: z('content');

    &__wrapper 
    {
      position: absolute;
      top: 50%; 
      left: 50%;

      transform: translate(-50%, -50%);

      width: 100%;

      display: flex; 
      justify-content: space-around;
      align-items: center;
    }

    &__element 
    {
      height: 25rem; 
      width: 25rem; 

      &__link 
      {
        display: block;
        z-index: z('link');

        height: 100%; 
        width: 100%; 
      }

      &__media 
      {
        height: 100%; 
        width: 100%; 

        &__figure 
        {
          position: relative;

          height: 100%; 
          width: 100%; 
  
          visibility: hidden;
  
          &__image
          {
            @extend %cover;
  
            object-fit: cover;
          }
        }
      }
    }
  }
}

.hoverImage 
{
  visibility: hidden; 
}