%desc-10
{
  font-family: $font-satoshi;
  font-size: 1.0rem;
}

%desc-12
{
  font-family: $font-satoshi;
  font-size: 1.2rem;
}

%desc-14
{
  font-family: $font-satoshi;
  font-size: 1.4rem;
}

%desc-16
{
  font-family: $font-satoshi;
  font-size: 1.6rem;
}

%desc-18
{
  font-family: $font-satoshi;
  font-size: 1.8rem;
}

%desc-20
{
  font-family: $font-satoshi;
  font-size: 2.0rem;
}

%desc-22
{
  font-family: $font-satoshi;
  font-size: 2.2rem;
}

%desc-24
{
  font-family: $font-satoshi;
  font-size: 2.4rem;
}

%desc-26
{
  font-family: $font-satoshi;
  font-size: 2.6rem;
}

%desc-28
{
  font-family: $font-satoshi;
  font-size: 2.8rem;
}

%desc-30
{
  font-family: $font-satoshi;
  font-size: 3.0rem;
}

%desc-32
{
  font-family: $font-satoshi;
  font-size: 3.2rem;
}

%desc-34
{
  font-family: $font-satoshi;
  font-size: 3.4rem;
}

%desc-36
{
  font-family: $font-satoshi;
  font-size: 3.6rem;
}

%desc-38
{
  font-family: $font-satoshi;
  font-size: 3.8rem;
}

%desc-40
{
  font-family: $font-satoshi;
  font-size: 4.0rem;
}
