%title-16
{
  font-family: $font-butler;
  font-size: 1.6rem;
}

%title-20
{
  font-family: $font-butler;
  font-size: 2.0rem;
}

%title-22
{
  font-family: $font-butler;
  font-size: 2.2rem;
}

%title-24
{
  font-family: $font-butler;
  font-size: 2.4rem;
}

%title-26
{
  font-family: $font-butler;
  font-size: 2.6rem;
}

%title-28
{
  font-family: $font-butler;
  font-size: 2.8rem;
}

%title-30
{
  font-family: $font-butler;
  font-size: 3.0rem;
}

%title-40
{
  font-family: $font-butler;
  font-size: 4.0rem;
}

%title-50
{
  font-family: $font-butler;
  font-size: 5.0rem;
}

%title-60
{
  font-family: $font-butler;
  font-size: 6.0rem;
}

%title-70
{
  font-family: $font-butler;
  font-size: 7.0rem;
}

%title-80
{
  font-family: $font-butler;
  font-size: 8.0rem;
}

%title-90
{
  font-family: $font-butler;
  font-size: 9.0rem;
}

%title-100
{
  font-family: $font-butler;
  font-size: 10.0rem;
}

%title-200
{
  font-family: $font-butler;
  font-size: 20.0rem;
}

%title-250
{
  font-family: $font-butler;
  font-size: 25.0rem;
}

%title-300
{
  font-family: $font-butler;
  font-size: 30.0rem;
}

%title-400
{
  font-family: $font-butler;
  font-size: 40.0rem;
}