*
{
  box-sizing: border-box;
  user-select: none;
}

html
{
  @extend %cover;

  font-size: calc(100vw / 1920px * 10px);

  overscroll-behavior: none;
  overflow: hidden;
  position: fixed;

  background: $color-dark-jungle-green;
  color: $color-antique-white;

  @include media('<phone')
  {
    font-size: calc(100vw / 750px * 10px);
  }
}

body
{
  @extend %cover;
  @extend %desc-16;

  position: fixed;
  font-family: $font-melodrama-regular;
}

canvas
{
  position: relative;
  z-index: z('canvas');
  //pointer-events: none;

  border: 1px solid $color-aerospace-orange; 
  border-radius: 10px;
}

a
{
  color: inherit;
  text-decoration: none;
  outline: none;
}

img
{
  opacity: 0;
  transition: opacity .5s ease;
  vertical-align: middle;

  &.loaded
  {
    opacity: 1;
  }
}

.content
{
  @extend %cover;

  &__title 
  {
    position: absolute; 
    bottom: 4rem; 
    right: 50%; 

    transform: translateX(50%);

    white-space: nowrap;

    &__text 
    {
      @extend %title-300; 
    }
  }
}
