@font-face {
  font-family: $font-butler;
  src: url('../fonts/Butler.woff2') format('woff2'),
      url('../fonts/Butler.woff') format('woff'),
      url('../fonts/Butler_Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: $font-satoshi;
  src: url('../fonts/Satoshi-Regular.woff2') format('woff2'),
       url('../fonts/Satoshi-Regular.woff') format('woff'),
       url('../fonts/Satoshi-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}